# Label Merged Issues
#
# Add the `status:merged` label to a pull request's linked issues when a pull request is merged into
# `main` or on workflow dispatch.
#
# References:
#
# - https://docs.github.com/graphql/reference/objects#pullrequest
# - https://github.com/actions/github-script
# - https://github.com/octokit/graphql-action

---
name: label-merged-issues
on:
  pull_request:
    branches:
      - main
    types:
      - closed
  workflow_dispatch:
    inputs:
      pr:
        description: pull request number
        required: true
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
jobs:
  label-merged-issues:
    if: |
      github.event_name == 'workflow_dispatch' ||
      (github.event.pull_request.merged == true && !startsWith(github.head_ref, 'release/'))
    runs-on: ubuntu-latest
    steps:
      - id: query
        name: Query linked issues
        uses: octokit/graphql-action@v2.2.22
        with:
          query: |
            query ($owner: String!, $repo: String!, $pr: Int!, $limit: Int = 20) {
              repository(owner: $owner, name: $repo) {
                pullRequest(number: $pr) {
                  closingIssuesReferences(
                    first: $limit
                    orderBy: { direction: ASC, field: CREATED_AT }
                  ) {
                    edges {
                      node {
                        number
                      }
                    }
                  }
                }
              }
            }
          owner: ${{ github.repository_owner }}
          pr: ${{ github.event.inputs.pr || github.event.number }}
          repo: ${{ github.event.repository.name }}
      - id: label
        name: Add status:merged label to linked issues
        uses: actions/github-script@v6.1.0
        env:
          DATA: ${{ steps.query.outputs.data }}
        with:
          script: |
            const { pullRequest } = JSON.parse(process.env.DATA).repository
            const { edges } = pullRequest.closingIssuesReferences

            const issues = edges.map(edge => edge.node.number)

            for (const issue_number of issues) {
              await github.rest.issues.addLabels({
                ...context.repo,
                issue_number,
                labels: ['status:merged']
              })

              console.log(`added 'status:merged' label to #${issue_number}`)
            }
